@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #5C2D91;

page {
  background: white;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  //border: 1px #D3D3D3 solid;
  //border-radius: 5px;
  position: relative;
  page-break-before: always;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm !important;
}

#survinator {
  width: 800px;
  margin: 10% auto;
}
#form{
  width: 30%;
  margin: 0 auto;
}

#form {
  #docType {
    width: 80%;
  }
  #lang {
    width: 40%;
  }
}


.facade-img {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 700px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.doc-img {
  width: 640px;
  height: 865px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  .items {
    width: 50%;

    .remarks {
      width: 95%;
      height: auto;
      padding: 1px 2.5%;
    }
    .address {
      width: 95%;
      height: auto;
    }
    img {
      position: inherit;
      width: 95%;
      margin: 5px 2.5%;
    }
  }

}

#access_to_telco_room {
  page-break-after: always !important;

}

.access-to-telco-room {
}

#general_information {
  width: 100%;
  div:nth-child(1) {
    width: 60%;
    float: left;
    li {
      span {
        font-style: italic;
      }
    }
  }
  div:nth-child(2) {
    width: 40%;
    float: right;
    li {
      margin-right: 4em;
      span {
        float: right;
        font-style: italic;
      }
    }
  }
}

.right-float {
  display: inline-block;
  float: right;
}

.right-float::after {
  clear: both
}

#your_data {
  ul {
    li {
      span {
        font-weight: 900;
      }
    }
  }
}

#equipment {
  th{
    text-align: center;
  }
}
#equipment-answer {
  td {
    color: $primary-color;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
  }
}

.align-center {
  text-align: center;
}

#map {
  width: 100%;
  height: 650px;
}

.hide {
  display: none;
}
img {
  max-width: none !important;
}

@media print {
  .btn-tsa {
    display: none;
  }

  #markers {
    display: none;
  }

  #map {
    width: 100% !important;
    max-width: none !important;
    a{
      display: none;
    }
  }

  img {
    max-width: none !important;
  }

}

